filter() Arguments

    
    The filter() function takes two arguments:

    function - a function
    iterable - an iterable like sets, lists, tuples etc.

    filter() Return Value
    
    The filter() function returns an iterator.

    Note: You can easily convert iterators to sequences like lists, tuples, strings etc.

In [3]:
letters=['a','b','c','d','e','f','g','h','i','o']

def filter_vowels(letter):
    vowels =['a','e','i','o','u']
    return True if letter in vowels else False

filter_vowels = filter(filter_vowels,letters)

vowels = tuple(filter_vowels)
print(vowels)

('a', 'e', 'i', 'o')

In [9]:
list(filter(filter_vowels, letters))

['a', 'e', 'i', 'o']

In [10]:
str2 = "Wasim loves shilpa very much"
str2_list = list(str2)

list(filter(filter_vowels, str2_list))

['a', 'i', 'o', 'e', 'i', 'a', 'e', 'u']

In [6]:
letters=['a','b','c','d','e','f','g','h','i','o']

def filter_vowels(letters):
    vowels =['a','e','i','o','u']
    return True if letters in vowels else False

filter_vowels(letters)

False

Example 2: Using Lambda Function Inside filter()

In [8]:
numbers = [x for x in range(30)]

even_number = filter(lambda x : (x%2 == 0 ) , numbers)

even_number_list  = list(even_number)
print(even_number_list)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28]

error:

    
    TypeError: unsupported operand type(s) for %: 'list' and 'int'

    TypeError: 'int' object is not iterable

In [45]:
number = [x for x in range(100)]

def is_prime(num):
    count = 0
    for i in range(1,num+1):
        if (num % i) == 0:
            count =count+  1 

    if count == 2 :
        print(num)

In [46]:
for i in range(20):
    is_prime(i)

2
3
5
7
11
13
17
19

In [49]:
import math
math.sqrt(20)

4.47213595499958

In [54]:
[x  for  x in range(10) if x %2 == 0 ]

[x for x in range(10) and y math.sqrt(y)]

SyntaxError: invalid syntax (2884527398.py, line 3)

In [55]:
def check_prime(num):
    if num >1 :
        for i in range(2 , int(num/2)+1):
            if num % i == 0 :
                break
        else:
            print(num)

In [58]:
for i in range(30):
    check_prime(i )

2
3
5
7
11
13
17
19
23
29

In [60]:
list2= [x for x in range(10)]
list(filter(check_prime, list2))

2
3
5
7

[]

map() function returns a map object(which is an iterator) of the results after applying the given function to each item of a given iterable (list, tuple etc.)

Syntax :

map(fun, iter)

In [74]:
def addition(n):
    sum = n    
    return sum+sum+sum+sum

number_1 = [x for x in range(11)]

result = map(addition,number_1)
print(list(result))

[0, 4, 8, 12, 16, 20, 24, 28, 32, 36, 40]

Add Two list using map nad lambda

In [76]:
number1 = [1,2,3,4]
number2 =[5,6,7,8]

result = list(map(lambda x , y : x+ y , number1 , number2))
result

[6, 8, 10, 12]

In [90]:
tuple(list(set(map(lambda x : x * x , number2))))

(64, 25, 36, 49)

In [96]:
[x for x in range(2000,2050) if x % 4 ==0 or x % 400 ==0 and x %100  != 0 ]

[2000, 2004, 2008, 2012, 2016, 2020, 2024, 2028, 2032, 2036, 2040, 2044, 2048]

In [97]:
str2 = "Wasim"
str2[::-1]

'misaW'