In [1]:
import pandas as pd

In [2]:
df1 = pd.read_csv('/home/ubuntu-wasim/Documents/Missing_val.csv')
df1

,ID,Name,It,Revenue,Expense,Profit,growth rate
0,1,Lamtone,Financial Services,11757018.0,892383,677323.0,20.0
1,2,Stripfind,health,12329371.0,332932],NaN,11.0
2,3,canecorporaton,It,10597009.0,NaN,787723.0,NaN
3,4,mattouch,health,NaN,3232233,233123.0,12.0
4,5,techdrill,health,NaN,32377,56756.0,4.0
5,6,cityace,health,982723.0,NaN,NaN,56.0
6,7,Kayele,It,27329392.0,88844,353454.0,90.0
7,8,Ganzlax,health,2327382.0,448484,33435.0,NaN
8,9,texhline,Govt,2373.0,494,453454.0,NaN
9,10,trab,it,NaN,NaN,NaN,NaN

In [9]:
gr1=df1.groupby(by='Revenue')
gr1.groups

{2373.0: [8], 982723.0: [5], 2327382.0: [7], 10597009.0: [2], 11757018.0: [0], 12329371.0: [1], 27329392.0: [6]}

In [11]:
gr2=df1.groupby(by='Profit')
gr2.groups

{33435.0: [7], 56756.0: [4], 233123.0: [3], 353454.0: [6], 453454.0: [8], 677323.0: [0], 787723.0: [2]}

In [12]:
gr3 = df1.groupby(['Profit','Revenue'])

for Revenue , df1 in gr3:
    print(Revenue)

(33435.0, 2327382.0)
(353454.0, 27329392.0)
(453454.0, 2373.0)
(677323.0, 11757018.0)
(787723.0, 10597009.0)

In [13]:
list(gr3)

[((33435.0, 2327382.0),
     ID     Name      It    Revenue Expense   Profit  growth rate
  7   8  Ganzlax  health  2327382.0  448484  33435.0          NaN),
 ((353454.0, 27329392.0),
     ID    Name  It     Revenue Expense    Profit  growth rate
  6   7  Kayele  It  27329392.0   88844  353454.0         90.0),
 ((453454.0, 2373.0),
     ID      Name    It  Revenue Expense    Profit  growth rate
  8   9  texhline  Govt   2373.0     494  453454.0          NaN),
 ((677323.0, 11757018.0),
     ID     Name                  It     Revenue Expense    Profit  growth rate
  0   1  Lamtone  Financial Services  11757018.0  892383  677323.0         20.0),
 ((787723.0, 10597009.0),
     ID            Name  It     Revenue Expense    Profit  growth rate
  2   3  canecorporaton  It  10597009.0     NaN  787723.0          NaN)]

In [15]:
dict(list(gr3))

{(33435.0,
  2327382.0):    ID     Name      It    Revenue Expense   Profit  growth rate
 7   8  Ganzlax  health  2327382.0  448484  33435.0          NaN,
 (353454.0,
  27329392.0):    ID    Name  It     Revenue Expense    Profit  growth rate
 6   7  Kayele  It  27329392.0   88844  353454.0         90.0,
 (453454.0,
  2373.0):    ID      Name    It  Revenue Expense    Profit  growth rate
 8   9  texhline  Govt   2373.0     494  453454.0          NaN,
 (677323.0,
  11757018.0):    ID     Name                  It     Revenue Expense    Profit  growth rate
 0   1  Lamtone  Financial Services  11757018.0  892383  677323.0         20.0,
 (787723.0,
  10597009.0):    ID            Name  It     Revenue Expense    Profit  growth rate
 2   3  canecorporaton  It  10597009.0     NaN  787723.0          NaN}

In [18]:
df1.groupby('Profit').get_group('NaN')

KeyError: 'NaN'

In [19]:
gr1.sum()

            ID    Profit  growth rate
Revenue
2373.0       9  453454.0          0.0
982723.0     6       0.0         56.0
2327382.0    8   33435.0          0.0
10597009.0   3  787723.0          0.0
11757018.0   1  677323.0         20.0
12329371.0   2       0.0         11.0
27329392.0   7  353454.0         90.0