errors

    AttributeError: Unsupported argument 'hostname'

In [6]:
import mysql.connector as connector

con = connector.connect(host='localhost',port='3306',user='root',password = 'My@Sql1234',database='Python_DB',)
cur = con.cursor()
userId = int(input("Enter userId "))
cur.execute("select * from user where userId={}".format(userId))
data = cur.fetchone()
print(data)

(133, 'Melina trump', '65341289')

In [12]:
class Sql_curd:

    def __init__(self):
        self.con = connector.connect(host="localhost" , port="3306",user="root",password='My@Sql1234',database='Python_DB')
        
        sql_Query ="create table if not exists Student(S_name varchar(30) , rollNo int primary key , grade varchar(20)) "
        cur = self.con.cursor()
        cur.execute(sql_Query)


    def insert(self, s_name , roll , g ):
        sql_insert_Query = "Insert into Student(S_name,rollNo , grade) values('{}' ,{},'{}' )".format(s_name,roll , g)

        cur = self.con.cursor()
        cur.execute(sql_insert_Query)
        self.con.commit()
        print("Student data inserted")

    def update(self,rollNo):
        pass

In [13]:
sql1 = Sql_curd()
sql1.insert("Wasim",23,'A')

Student data inserted