In [10]:
print("python")

x = 10 
print(type(x))
y = 1999.999

x = "wasim"
print(id(x))
type(x)

python
<class 'int'>
140692892905904

str

In [9]:
x1 = 'wasim'
print(id(x1))
print()

140692892905904

In [12]:
bool = True
type(bool)

bool

In [17]:
x = input()
print(x)

stringnff

In [18]:
def add(num1 , num2):
    print(num1+num2)

add(12,33)

45

In [59]:
class cal:

    x15 = 40000 # local variable

    def minus(n1,n2):
        x15 = 1000
        n3= n1+x15
        print("Sum",n3)
        return n1-n2

    def earn(self):
        self.double=900


    def mul(n1  ,n2):
        pass


cal.minus(900,100)

Sum 1900

800

In [60]:
x3

66

In [26]:
'''name = "python2 "'''

'name = "python2 "'

In [27]:
_uname = "laptop"

In [30]:
asdkasdlap = "me ejidsiaj"

In [33]:
x ,  x2 , x3 = 'python','java',90
print(x , x2)

python java

In [36]:
x1 = x2 = x3 = x4 = 66
print(x1)
print(x2)

66
66

In [37]:
print(x4)

66

TypeError: can only concatenate str (not "int") to str

In [50]:
name_1 , job , food , play , earns = "sahithi" , "data_science" ,'Biryani' ,'tennis' , 40000

print(name_1+' , ',job+" ,  "+food+" ",earns)

sahithi ,  data_science ,  Biryani  40000

In [61]:
x3

66

In [63]:
def use():
    print(x1,x2)

use()

66 66

In [64]:
x = "awesome"

def myfunc():
  x = "fantastic"
  print("Python is " + x)

myfunc()

Python is fantastic

In [65]:
print("python is "+x)

python is awesome

In [68]:
x = 89 -1j
type(x)

complex

list comma seprated , [] , mutable , order , duplicate , faster then tuple, compare to tuple it takes little bit more memory

In [80]:
list_ = [12,'shitihi',99.99,"$",12+78j]
    #    0      1       2     3    4
#        -5       -4         -3      -2      -1
list_[0] = "Wasim"
print(list_[-2])
print(list_)

$
['Wasim', 'shitihi', 99.99, '$', (12+78j)]

In [82]:
for x in list_:
    print(x)

Wasim
shitihi
99.99
$
(12+78j)

string , tuple and fundamental data type    ---immutable

fundamental data type - int , float , complex , bool , bytearray

TypeError: 'tuple' object does not support item assignment

In [88]:
tuple1 = (12,34,'Wasim','Sahithi',400000)
tuple1[2] = 1333

TypeError: 'tuple' object does not support item assignment

In [114]:
string = "she , isearning lot of , money"
string[:-1] = "wasim"

TypeError: 'str' object does not support item assignment

In [115]:
for i in string:
    print(i,end=" ")   # "\n"

s h e   ,   i s e a r n i n g   l o t   o f   ,   m o n e y

In [116]:
string.split(", ")

['she ', 'isearning lot of ', 'money']

In [105]:
string[-20:]

'earning lot of money'

In [73]:
list_1 = list(list_)

In [ ]:
set_1 = {}

Type Conversion
----
You can convert from one type to another with the int(), float(), and complex() methods

In [132]:
x = 1000 
y = 67.899  
print(" x is ",type(x))
print(type(y))

 x is  <class 'int'>
<class 'float'>

In [124]:
a = float(x)
print("now x is ",type(a))

now x is  <class 'float'>

In [131]:
type("now x is ",1)

TypeError: type() takes 1 or 3 arguments