list, tuples , set ---> hold single Objects


dict --> holds group of key value pairs


unorder --> indexing , sclicing not applicable

$$ create Dictionary Object $$
d = {}


d = dict()

In [2]:
d = {}
d[100] = 'shilpa'
d[200] = 'wasim'
d[3] = 90000
d['ShilpaEarinig']=40000
d

{100: 'shilpa', 200: 'wasim', 3: 90000, 'ShilpaEarinig': 40000}

In [3]:
d = {'wasim':'shilpa','number of childern : ':6 ,'earning ':400000}
d

{'wasim': 'shilpa', 'number of childern : ': 6, 'earning ': 400000}

In [4]:
result = { }
std = int(input("Enter  number of Student"))
i = 1
while i < std:
    rollno = int(input('Enter ROllNo'))
    name = input('ENter your name')
    marks= int(input("Marks % "))
    result[name] = marks
    result[name] = rollno
    i = i+ 1 
print("name of student ", '     marks' ,'   RollNo.   ')
for i in result :
    print( i , "\t\t\t",result[i] , result[i])

ValueError: invalid literal for int() with base 10: ''

if the key is already available , then the old value is replaced by new value

## del dict[key]

In [ ]:
d

{'wasim': 'shilpa', 'number of childern : ': 6, 'earning ': 400000}

In [ ]:
del d['earning ']

In [ ]:
d

{'wasim': 'shilpa', 'number of childern : ': 6}

## del all key & value pair

In [ ]:
d.clear()

In [ ]:
del d

In [ ]:
d

NameError: name 'd' is not defined

In [ ]:
l =['wasim','shilpa',6 , 4000000]
d = {'wife&Husband':l}

In [ ]:
d

{'wife&Husband': ['wasim', 'shilpa', 6, 4000000]}

In [ ]:
dict_1 = dict({100:'Shilpa','earns':4000000})

List of tuples

In [ ]:
dict_2 = dict([(200,'wasim'),(300,'Shilpa')])
dict_2

{200: 'wasim', 300: 'Shilpa'}

In [ ]:
type(dict_2)

dict

In [ ]:
dict_2 = dict({(200,'wasim'),(300,'Shilpa')}) # list of dict
dict_2

{300: 'Shilpa', 200: 'wasim'}

In [ ]:
dict_2 = dict(((200,'wasim'),(300,'Shilpa'))) # list of tuples of tuples
dict_2

{200: 'wasim', 300: 'Shilpa'}

# len() , get(key)

In [ ]:
dict_2.get(200)

'wasim'

In [ ]:
len(dict_2)

2

In [ ]:
dict_2[300]='Wasim&&Shilpa'

In [ ]:
dict_2[400]='AkhtarWith Shilpa'

In [ ]:
dict_2

{200: 'wasim', 300: 'Wasim&&Shilpa', 400: 'AkhtarWith Shilpa'}

## pop(key)

## popitem() --> one key value will be removed anr return , randomly

In [ ]:
dict_2.pop(400)

'AkhtarWith Shilpa'

In [ ]:
dict_1

{100: 'Shilpa', 'earns': 4000000}

In [ ]:
dict_1.popitem()

('earns', 4000000)

## keys()

## values()

## items()

In [ ]:
dict_1[200]='new Laptop'
dict_1[101] = 'credit card'
dict_1[107] = 'new Flate'

In [ ]:
print('Key   ' , "    values")
print('___________________________')
for k,v in dict_1.items():
    print(k , "     " , v)

Key        values
___________________________
100       Shilpa
200       new Laptop
101       credit card
107       new Flate

In [ ]:
dict_1.values()

dict_values(['Shilpa', 'new Laptop', 'credit card', 'new Flate'])

In [ ]:
dict_1.setdefault(100,'Salma')

'Shilpa'

## update()

##  add()

In [ ]:
dict_u ={99:'ghar'}

In [ ]:
dict_1.update(dict_u)

In [ ]:
dict_1

{100: 'Shilpa',
 200: 'new Laptop',
 101: 'credit card',
 107: 'new Flate',
 99: 'ghar'}

In [ ]:
dict_1.get(191,0)

0

In [ ]:
dict_1

{100: 'Shilpa',
 200: 'new Laptop',
 101: 'credit card',
 107: 'new Flate',
 99: 'ghar'}

In [ ]:
dict_1.add(98,'money')

AttributeError: 'dict' object has no attribute 'add'

In [5]:
dict_3 = eval(input('Enter your number '))
res = sum(dict_3.values())
print(res)

AttributeError: 'int' object has no attribute 'values'

In [21]:
word = input('Enter your Sentence')
word = word.replace(' ','')
dict_4 = { }
for i in word:
    dict_4[i]=dict_4.get(i,0)+1

for k , v in dict_4.items():
    print(k , "         ", v)

w           1
a           1
s           1
i           1
m           1

In [8]:
for k , v in dict_4.items():
    print(k , v)