# Immutability , mutable 

    mutable - changeable , 

    fundamental data type --> int , float , complex , bool and 

    text - String 

    squence type - list , tuples , range

In [5]:
a = 10
print("a address before ",id(a))
b = a

a = 11

print("a is after ",id(a))

a address before  9789280
a is after  9789312

String is Immutable , if we try to change it will create a new Object with those changes and the reference point towards new Object

In [55]:
sahithi = "she is very strong"
print(sahithi)

print(id(sahithi))

sahithi = "data science 99 "
print(sahithi)
print(id(sahithi))

she is very strong
140012594621616
data science 99
140012594157968

In [9]:
a = 10 

a = a+ 13
a

23

In [ ]:
str_1 = ""

In [21]:
list1 = ['sahithi',"wasim","data science"]
print(list1)
print(id(list1))

list1[2] ="sahithi patel "
print(list1)
print(id(list1))

['sahithi', 'wasim', 'data science']
140012594388352
['sahithi', 'wasim', 'sahithi patel ']
140012594388352

In [22]:
def perform(name , school ):
    return name , school

p1 = perform('Sahithi' , 'Isoft')
print(p1)

('Sahithi', 'Isoft')

In [27]:
def judge(marks):
    p2 = perform('rekha' , 'DPS')
    return marks , p2

judge('B+')

('B+', ('rekha', 'DPS'))

In [25]:
perform('nita','BPS')

('nita', 'BPS')

if we try to change /update  Immutable str or tuple or fundamental type , it will create an new Object with that change

In [3]:
str_1 = "working hardly or hardly working "
print("id before assigment or update ",id(str_1))

str_1 = str_1+" work is great "
print("id after assigment or update ",id(str_1))

id before assigment or update  140079649101456
id after assigment or update  140080024284048

In [28]:
def inc(number):
    return number+1

add_one = inc
add_one(10)

11

    Nested Function

In [39]:
def plus_one(num):
    print('first')

    def add_one(num):
        print('THIRD')
        return num+1

    print('second')
    result = add_one(num)

    print('Fourth')
    return result



plus_one(10)

print('Fivth')

first
second
THIRD
Fourth
Fivth

# Passing Functions as Arguments to other Functions

In [40]:
def dec(num):
    return num-1


def function_call(function):

    number_to_add = 5 

    return function(number_to_add)

function_call(dec)

4

In [42]:
def square(num):
    return num*num


def other_func_call(function_to_call):
    num = eval(input('Enter num here'))

    return function_to_call(num)

other_func_call(square)

144

# Functions Returning other Functions

In [51]:
def function_returning_other_function(num):
    def triple(num):
        return 3*num

    return triple

    def cube(num):
        return num*num*num

    return cube  # unreachable Statement 

v1 = function_returning_other_function(10)
v1(12)

36

In [53]:
def function_returning_other_function(num):
    def triple(num):
        return 3*num

    def cube(num):
        return num*num*num

    return cube , triple # unreachable Statement 

v1 = function_returning_other_function(10)
v1(12)

TypeError: 'tuple' object is not callable