**kwargs
-----

**kwargs is a special syntax used in the function definition to pass variable-length keyworded arguments.

Here, also, “kwargs” is used just by convention. You can use any other name.

keyworded argument means a variable that has a name when passed to a function.

It is actually a dictionary of the variable names and its value.

TypeError: can only concatenate str (not "int") to str

In [2]:
def tellArgument(**kwargs):
    for key , value in kwargs.items():
        print(key," : ",value)

tellArgument(name="shilpa",dept="Csc",wroking="yes",Salary=560000)

name  :  shilpa
dept  :  Csc
wroking  :  yes
Salary  :  560000

In [19]:
class Interview01:

    # by default member are public 
    _company="TCS"

    #protected members
    __emp_name ="Shilpa"
    _emp_age = 24

    #private members
    _emp_sal=34000
    __emp_gmail = "Shilpa334@gmail.com"

    # private member we can use inside class 
    print(__emp_name)

ob1 = Interview01()
ob1._company
#ob1.__emp_name
# ob1._emp_sal we can't access private member outside of the class

Shilpa

'TCS'

In [23]:
class Interview02(Interview01):
    pass

ob2 = Interview02()
ob2._company
# ob2.__emp_name   private member can't be inherited

'TCS'

In [26]:
issubclass(Interview01,Interview02)

False

In [30]:
mul = lambda x , y: x * y 
print(mul(2,400))

800

In [48]:
# list contained squared root with 0 last digits

sq_ = [x**2 for x  in range(100) if x % 10 == 0  ]
sq_

[0, 100, 400, 900, 1600, 2500, 3600, 4900, 6400, 8100]

In [58]:
def recursion01(num):
    if num <=0:
        return 1 
    res = num *2
    print(res)

    recursion01(num-1)

recursion01(10)

20
18
16
14
12
10
8
6
4
2

In [64]:
def fibo(num):
    if num<=0 :
        return 1 
    return num * fibo(num-1)

for i in range(20,31):
    print("factorial of ",i ," = ",fibo(i))

factorial of  20  =  2432902008176640000
factorial of  21  =  51090942171709440000
factorial of  22  =  1124000727777607680000
factorial of  23  =  25852016738884976640000
factorial of  24  =  620448401733239439360000
factorial of  25  =  15511210043330985984000000
factorial of  26  =  403291461126605635584000000
factorial of  27  =  10888869450418352160768000000
factorial of  28  =  304888344611713860501504000000
factorial of  29  =  8841761993739701954543616000000
factorial of  30  =  265252859812191058636308480000000

In [116]:
fibo_lambda = lambda x , y : x+10+y

fibo_lambda(1,5)

16

In [71]:
num = 1
res = 1 
while num <=10 :
    res = num*res
    print(res , num  , "= ",res)
    num +=1
print(res)

1 1 =  1
2 2 =  2
6 3 =  6
24 4 =  24
120 5 =  120
720 6 =  720
5040 7 =  5040
40320 8 =  40320
362880 9 =  362880
3628800 10 =  3628800
3628800

In [73]:
num = 10 
res = 1 
while num >=1:
    res = res * num
    num -=1
    print(res)

10
90
720
5040
30240
151200
604800
1814400
3628800
3628800

In [99]:
def recursion(num):
    if num <1 :
        return 1 
    
    
    num -= 1
    return recursion(num)


print(recursion(10))

1

In [101]:
def recursion(num):
    if num == 1 :
        return 1 
    print(num*2)

    return recursion(num-1)

recursion(10)

20
18
16
14
12
10
8
6
4

1

In [111]:
def recursion_table(num,i):
    if i > 10:
        return 
    
    print(num,"*",i,"=",num*i)
    i +=1
    return recursion_table(num,i)

recursion_table(9,1)

9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
9 * 10 = 90