In [2]:
i = 10
type(i)

int

# data type in Python

    number --{[ byte, short , int(in python only one ) , 
    long ], float to represent floating point value , complex  }

    
    Text Type:	str

    Numeric Types:	int, float, complex

    Sequence Types:	list, tuple, range

    Mapping Type:	dict
    
    Set Types:	set, frozenset
    
    Boolean Type:	bool
    
    Binary Types:	bytes, bytearray, memoryview

In [4]:
i2 = 12.09
type(i2)

comp = 12+90j
type(comp)

complex

typeCasting

In [13]:
a = "12"
b= 2 
#print(a+b)  TypeError: can only concatenate str (not "int") to str
a1 = int(a)
print(a1+b)
type(a1)

14

int

In [15]:
b = 90
print(id(b))
b1 = float(b)
type(b1)
print(id(b1))

9791840
140603277928304

In [26]:
r1 = range(1,10,2)
for i in r1 :
    print(i)

x = bytes(1)
x1 = bytearray(2)
print(x1)
print(x)

1
3
5
7
9
bytearray(b'\x00\x00')
b'\x00'

In [31]:
def func():
    return "Data Scienece"
def func2(num):
    return int(num)
func()
func2(12)

12

operator precedence
-----
5*2**10
Precedence  of ** exponential operator is more then *

In [32]:
5*2**10

5120

    SyntaxError: leading zeros in decimal integer literals are not permitted; use an 0o prefix for octal integers

In [33]:
0123

SyntaxError: leading zeros in decimal integer literals are not permitted; use an 0o prefix for octal integers (1314965933.py, line 1)

SyntaxError: invalid digit '9' in octal literal

In [37]:
0o11234567

2439543

In [39]:
0x12334567890

1250713565328

In [45]:
0

1_234_00_34

int('1000')

1000

ValueError: int() base must be >= 2 and <= 36, or 0
int('100',___)

In [54]:
int('100100',2)

int('100010',9)

59058

In [56]:
float('-InFinity')

-inf

Remove Duplicate item from the List

In [63]:
my_list = [12,13,14,144,18,12,13,169,144,67,89,67,68,68,67]
unique_list = list()
for i in my_list:
    if(i not in unique_list):
        unique_list.append(i)
    print(i,end=" ")
unique_list

12 13 14 144 18 12 13 169 144 67 89 67 68 68 67

[12, 13, 14, 144, 18, 169, 67, 89, 68]

In [65]:
my_set = set(my_list)
my_set

{12, 13, 14, 18, 67, 68, 89, 144, 169}

In [70]:
unique_list2 = []
[unique_list2.append(num) for num in my_list if  not num  in unique_list2]
print(unique_list2)

[12, 13, 14, 144, 18, 169, 67, 89, 68]

In [76]:
[x for x in range(1000,1050) if x%4==0 and x%100!=0 or x%400==0]

[1004, 1008, 1012, 1016, 1020, 1024, 1028, 1032, 1036, 1040, 1044, 1048]

In [78]:
x = '100'
y = '100'

x is y
print(id(x))
print(id(y))

140603023072496
140603023072496

In [80]:
x = 'a'
y = 'A'

print(x is y)
print(id(x))
print(id(y))

False
140603401553328
140603401014000

Identity Operators
-----
is_(a,b)

is_not(a,b)

In [83]:
x = 5 
y = 9;
x is y
x is not y

True

Bitwise Operator 
----

& and 

| or

^ xor

~ invert

<< lshift

>> rshift

compare two string

== ---> operator checks the value equality 

is ---> operator checks for whether operands refer to the same objects or not  , checks for same memory location

In [90]:
str1 = "Data science"
str2 = 'Data science'
str3 = "wasim is data Scientist"

print(str1 == str2)
print(str3 == str2)

True
False

TypeError: 'NoneType' object is not iterable

In [97]:
import re 
string = "simple is better than complex "
mat = re.match('^[0-9]',string)
if mat != None:
    print(mat.start(), "   ",mat.group())
else:
    print("String is not starting with digits ")

String is not starting with digits

In [100]:
string[3:16]

'ple is better'

# str.isdigit()
        
        return true if all the character in string are digits or unicode char of a digit

        Returns True if all characters in the string are digits and returns False even if one character is not a digit

In [104]:
mystr = '1234555'
print(mystr.isdigit())
mystr = "12383838t"
mystr.isdigit()

True

False

The isdigit() method will return False if the string contains whitespaces, symbols, or alphabets.

In [105]:
mystr = "100 "
mystr.isdigit()

False

In [118]:
num = '\u0040'
print(num.isdigit())
print(num)

False
@

str.isnumeric()
------
    The str.isnumeric() checks whether all the characters of the string are numeric characters or not. It will return True if all characters are numeric and will return False even if one character is non-numeric.

    The numeric characters include digits (0 to 9) and Unicode numeric value, and fraction e.g. 'U+00B9', 'Â½', etc.

In [119]:
numstr = '1000'
numstr.isnumeric()

True

In [120]:
numstr = '1000 ' # just one space
numstr.isnumeric()

False

In [121]:
numstr = '1000y' # just one char
numstr.isnumeric()

False

str.find('H')
-----

    The find() method returns the index of the first occurence of a substring in the given string (case-sensitive). If the substring is not found it returns -1.

    The find() method performs case-sensitive search. It returns -1 if a substring is not found.

In [126]:
mystr="wasim is a Data scientist"
mystr.find('i')

3

Use start and end parameters to limit the search of a substring between the specified starting and ending index, as shown below.

In [128]:
mystr.find('a',2,20)

9