Operator Overloading is supported in Python but method and constructor Overloading is not possible

In [2]:
class Book:
    def __init__(self,pages):
        self.pages = pages

#magic method 
    def __add__(self, other):
        return self.pages + other.pages

    def __sub__(self, other):
        return self.pages - other.pages    
   
    
    def __mul__(self,other):
        return self.pages * other.pages
    
    def __floordiv__(self, other):
        return self.pages // other.pages

    def __mod__(self,other):
        return self.pages % other.pages

TypeError: unsupported operand type(s) for +: 'Book' and 'Book

In [3]:
b1 = Book(10)
b2 = Book(200)
b3 = Book(365)

print(b1+b2)
print(b1-b2)
print(b1*b2)
print(b1%b3)

210
-190
2000
10

@Note--------->
string concatenation 
--------
We can perform string concatenation using following ways:
 

Using + operator 
 
Using join() method 
 
Using % operator 
 
Using format() function 
 
Using , (comma)

In [4]:
var1 = "Shilpa Love's "
var2="Wasi"
print("(using comma)",var1,var2)
print("{}  {} ".format(var1,var2))
print("%s  %s "%(var1,var2))
print("".join([var1,var2]))
print(var1+var2)

(using comma) Shilpa Love's  Wasi
Shilpa Love's   Wasi
Shilpa Love's   Wasi
Shilpa Love's Wasi
Shilpa Love's Wasi


TypeError: unsupported operand type(s) for +: 'int' and 'str'
---------------

In [5]:
print(str(b1)+" Shilpa")

<__main__.Book object at 0x7f204c57ca90> Shilpa

In [6]:
print(str(234)+"  shilpa Love's Silk")

234  shilpa Love's Silk

In [7]:
class Book1:

    def __init__(self,pages):
        self.pages = pages
    
    def __str__(self):
        return  "The Number of pages : "+str (self.pages)

    def __add__(self,other):
        total =  self.pages + other.pages
        b = Book1(total)
        return b 

    def __sub__(self,other):
        total = self.pages - other.pages
        b = Book1(total)
        return b

    def __mul__(self,other):
        total = self.pages * other.pages
        b = Book1(total)
        return b

In [8]:
b1 = Book1(240)
b1.pages = 400
b1.pages

400

In [9]:
print(b1)

The Number of pages : 400

In [10]:
b2 =Book1(233)
b3 = Book1(430)
print(b1+b2+b3)

The Number of pages : 1063

In [11]:
print(b1-b2-b3)

The Number of pages : -263

In [12]:
print(b1*b2*b3)

The Number of pages : 40076000

In [13]:
class Student :

    def __init__(self, name , marks):
        self.name  = name
        self.marks = marks
    
    def __lt__(self,other):
        return self.marks < other.marks

    def __le__(self,other):
        return  self.marks < other.marks

In [14]:
s1 = Student("shilpa",400)
s2 = Student("Silk",300)
print(s1>s2)

True

In [15]:
class Employee:
    def __init__(self, name , salary):
        self.name = name 
        self.salary = salary 
    
    def __mul__(self,other):
        return self.salary * other.days

class TimeSheet:
    def __init__(self,name,days):
        self.name  = name 
        self.days = days
    
    def __mul__(self,other):
        return self.days * other.salary

In [16]:
e1 = Employee("Shilpa",400)
t1 = TimeSheet("Shilpa",29)
print("This month salary is : ",e1*t1)

This month salary is :  11600

In [17]:
print(t1*e1)

11600

In [18]:
class Book_1:
    def __init__(self,pages,name):
        self.pages = pages
        self.name =name
    
    def __str__(self):
        return "The Number of pages : "+str(self.pages)+" ,Name:  "+str(self.name)
    
b1 = Book_1(233,"Shilpa")
print(b1)

The Number of pages : 233 ,Name:  Shilpa

Method Overloading
---------------

method overloading is not supported in Pyhton , even if we write overloaded method python will alwasys considered last define method

In [19]:
class Test:

    def m1(self):
        print("No-Args Method")

    def m1(self,x ):
        print("One_args Method",x)

In [20]:
c1 = Test()
c1.m1()

TypeError: m1() missing 1 required positional argument: 'x'

In [ ]:
c1.m1(900)

One_args Method 900

In [ ]:
count = int(input("Enter your number "))
a , b = 0  ,1 
for i in range(0,count):
    if i <=1:
        c = i
    else:
        c = a + b 

        a = b 
        b =  c 
    print(c,end=' ')

0 1 1 2 3 5 8 13 21 34 55 89

In [ ]:
num = int(input('Enter number '))
res = 1 
for i in range(1,num):
    res = res*i
    print("The Factorial of  "+str(i)+" = "+str (res))

The Factorial of  1 = 1
The Factorial of  2 = 2
The Factorial of  3 = 6
The Factorial of  4 = 24
The Factorial of  5 = 120
The Factorial of  6 = 720

In [ ]:
def generator_():
    yield 1 
    yield 2 
    yield 3
    
x = generator_()

print(next(x))
print(next(generator_()))
print(next(x))
print(next(x))
print(next(generator_()))
print(next(generator_())) # why this function always yielding one

1
1
2
3
1
1

In [23]:
def gen():
    a , b  = 0 ,1 
    while True:
        yield a 
        c = a + b 
        a = b 
        b = c

In [24]:
fib = gen()
for i in gen():
    if i <=100:
        print(next(fib),end=" ")
    else:
        break

0 1 1 2 3 5 8 13 21 34 55 89

In [25]:
fib = gen()
for i in gen():
    if i > 1000:
        break
    print(next(fib), end=" ")

0 1 1 2 3 5 8 13 21 34 55 89 144 233 377 610 987

method Overloading 

java----------

m1(int i )

m1(int i , int j)

m1(double i )

m1(int i , double d )

m1(int i , double d , string s)

python won't support for overloading , method or constructor 
while define overloading we always going to talk about type  , but in python we are nevr going to talk about type , while we passing argument based on behaviour we can decide it may be string or int or float 
m1(i)

m1(str)

m1(double d )   all these method are same 

we can all same method by passing string or int or float or double 

Overloading is not required for python

In [30]:
class Test :

    def m1(self,i):
        print("m1 method : "+str(i))

t = Test()
t.m1("wasim")
t.m1(34.34)
t.m1(10+90j)
t.m1("Rekha "+str(99))

m1 method : wasim
m1 method : 34.34
m1 method : (10+90j)
m1 method : Rekha 99

w.r.t Number of argument 
-------------

differnet number of argument are there 

How we can handle 

1.default argument 

Default values indicate that the function argument will take that value if no argument value is passed during the function call. The default value is assigned by using the assignment(=) operator of the form keywordname=value.

2.Variable length 

None is used to define a null value. It is not the same as an empty string, False, or a zero. It is a data type of the class NoneType object. 

Assigning a value of None to a variable is one way to reset it to its original, empty state.

Note: If a function does not return anything, it returns None in python.

In [60]:
#          if a != None or b != None or c != None or d != None or e != None or f != None :

class Test_1:

    def sum_(self, a = 0 , b = 0 , c = 0 , d = 0 , e = 0 , f = 0):

        print(a+b+c+d+e)
        
    def mul_(self,a =1 , b=1 , c =1 , d=1 , e=1):
        print(a*b*c*d*e)

    def sum_VarArgs(self,*a):
        total = 0 
        for i in a:
            total = total+ i 
        print("total  sum : "+str(total))

t1 = Test_1()
t1.sum_(10,10,10,10,10)

t1.mul_(10,19,10)
t1.sum_VarArgs(12,14,14)

# t1.sum_("wasim","shilpa")

50
1900
total  sum : 40

constructor Overloading and method Overlind

we can declare method with same name but python will always consider last define constructor

In [64]:
class Test:
    def __init__(self):
        print("No args Constructor ")
    
    def __init__(self, a ):
        self.a = a
        print("One args COnstructor ",a)

    def __init__(self , a , b ):
        self.a = a
        self.b = b 



    def m1(Self):
        print("No args Method ")

    def m1(self,a ):
        print("One args Method",a)

    def m1(self,a,b):
        print( "Tow args Method ",a+b)

# 
#TypeError: m1() missing 2 required positional arguments: 'a' and 'b'

t2 = Test()
t2.m1(90,90)

Tow args Method  180

Constructor with default argsument

In [67]:
class test4 :

    def __init__(self , a = None , b = None ):
        print("Constructor with default args",a)


t3  = test4(12,18)

Constructor with default args 12

In [70]:
class Test4:

        def __init__(self ,*a):
            self.a =a
            print("Variable length argument constructor ")

t5 = Test4(800,200)

Variable length argument constructor