##  creating set using curly brace and using set constructor

## Unorder , UNIQUE ElEMENTS ONLY , ----> HashTable

In [93]:
set_a = { 1 , 60 , 49.90 ,'wasim&Shilpa',bool,True, 1 ,60}   #also adding duplicate elements not throwing exception 
set_b = set([12,56,77,'Shilpa','laila'])
print(set_a)
print(set_b)

{1, 'wasim&Shilpa', 49.9, <class 'bool'>, 60}
{12, 77, 'laila', 'Shilpa', 56}

## empty set

In [94]:
set_c = set()
set_c

set()

In [95]:
set1 = {}   # --- empty set of curly braces shwoing type dict
type(set1)

dict

In [96]:
set_a.add(44)
set_a

{1, 44, 49.9, 60, bool, 'wasim&Shilpa'}

In [97]:
# dir(set_a)

In [98]:
len(set_b)

5

In [99]:
len(set_a) == len(set_b)

False

In [100]:
for i in set_b:
    print(i)

12
77
laila
Shilpa
56

In [101]:
for i in set_a:
    print(i)

1
44
wasim&Shilpa
49.9
<class 'bool'>
60

## $$ add()$$
add() method is always going to take only one value , but update can take any no. of args


TypeError: add() takes exactly one argument (2 given)

In [129]:
set_a.add('shilpa Kumari','wasim Akhtar')

TypeError: add() takes exactly one argument (2 given)

## $$ Update()$$

In [127]:
l = [90,78,77,24,"Shilpa's Loves"]
set_a.update(l,range(1,10))
print(set_a)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 'wasim&Shilpa', <class 'bool'>, 24, 9000, "Shilpa's Loves", 44, 60, 77, 78, 90}

## remove()  , discard()  , pop()

In [102]:
set_a.remove(49.9)

In [103]:
set_a.add(9000)

In [104]:
set_a

{1, 44, 60, 9000, bool, 'wasim&Shilpa'}

## pop() , randomly remove elements

In [105]:
set_a.pop()

1

In [106]:
set_a.discard(4)

In [107]:
set_a

{44, 60, 9000, bool, 'wasim&Shilpa'}

## $$ Union $$
# union is unique elemets in either of the SETs

In [108]:
set_a | set_b

{12, 44, 56, 60, 77, 9000, bool, 'Shilpa', 'laila', 'wasim&Shilpa'}

In [109]:
set_c = {889,43,'Shilpa'}

In [110]:
print(set_a | set_b | set_c)

{9000, 43, 44, 12, 77, 'wasim&Shilpa', 'laila', 'Shilpa', <class 'bool'>, 889, 56, 60}

In [111]:
set_a.union(set_c)
set_c.union(set_a,set_b)

{12, 43, 44, 56, 60, 77, 889, 9000, bool, 'Shilpa', 'laila', 'wasim&Shilpa'}

## $$ intersection $$

In [112]:
set_a

{44, 60, 9000, bool, 'wasim&Shilpa'}

In [113]:
set_d ={'wasim&Shilpa', 33,99,663}
set_e = {'wasim&Shilpa',99, 'gori','shila'}

In [114]:
set_d & set_e

{99, 'wasim&Shilpa'}

In [115]:
set_d.intersection(set_e)

{99, 'wasim&Shilpa'}

## $$ Difference of Sets $$

In [116]:
set_b-set_e

{12, 56, 77, 'Shilpa', 'laila'}

In [117]:
set_e-set_b

{99, 'gori', 'shila', 'wasim&Shilpa'}

In [118]:
set_d.difference(set_e)

{33, 663}

## $$ Frozen Set $$

In [119]:
set_f = {'mousePad','New Laptop','Job >1200000'}

In [120]:
set_f

{'Job >1200000', 'New Laptop', 'mousePad'}

In [121]:
froz=frozenset(set_f)

In [122]:
set_f.add(229)

In [123]:
set_f

{229, 'Job >1200000', 'New Laptop', 'mousePad'}

 for frozenset we can't add elements

In [124]:
froz.add(90)

AttributeError: 'frozenset' object has no attribute 'add'