

    All the data in a Python code is represented by objects or by relations between objects. Every object has an identity, a type, and a value.

Identity

    An object’s identity never changes once it has been created; you may think of it as the object’s address in memory. The is operator compares the identity of two objects; the id() function returns an integer representing its identity.

Type

    An object’s type defines the possible values and operations (e.g. “does it have a length?”) that type supports. The type() function returns the type of an object. An object type is unchangeable like the identity.

Value

    The value of some objects can change. Objects whose value can change are said to be mutable; objects whose value is unchangeable once they are created are called immutable.

    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Reminder: the is operator compares the identity/address / memory location of two objects.

    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    The == operator
    
    Sometimes we don’t want to compare the identity of two objects, but to compare the values of these objects. We can do this using the == operator.

------------------------
    set are used to store multiple items ina single variable { set  is a collection of unordered list , unindex thats why we cannot use indexing or slicing operator and item assigment is not supported  , and thats why  Unchangeable }

    **NOTE- SET ITEMS ARE UNCHANGEABLE , BUT YOU CAN ADD ITEMS USING ADD() METHOD , AND REMOVE ITEMS USING POP() , REMOVE(""), DISCARD("")


Set_1 = set() empty set

set_2 = { } -- it will refer to dict not empty set

In [7]:
set_1 = set()
print(type(set_1))

# showing this is a dictionary not set
set_2 = {}  
print(type(set_2))

<class 'set'>
<class 'dict'>

In [8]:
set_3 = {"apple", "Kiwi","avocado","Mango","Dragon fruits"}

set_4 = {"Blueberry","Muskmelon","strawberry","apple","kiwi"}

Unchangeable

    Set items are unchangeable, meaning that we cannot change the items after the set has been created.

    Once a set is created, you cannot change its items, but you can remove items and add new items.

    --------------------

    There is no indexing in set so we can not assign element

In [9]:
# TypeError: 'set' object is not subscriptable

set_3[3]

TypeError: 'set' object is not subscriptable

In [11]:
len(set_3)

5

In [12]:
set_5 = {"abc",33,False , object , 22.21, 9+23j}

# 1.add() 

    The add() method adds an element to the set.

    If the element already exists, the add() method does not add the element.

In [25]:
set_5.add("Wasim")
print(set_5)

for i in set_5:
    print(i,end=" , ")

list(set_5)

{False, 33, 'abc', (9+23j), 22.21, 'Wasim', <class 'object'>}
False , 33 , abc , (9+23j) , 22.21 , Wasim , <class 'object'> ,

[False, 33, 'abc', (9+23j), 22.21, 'Wasim', object]

# 2. clear()

    The clear() method removes all elements in a set.

In [28]:
set_x= set_3
set_x
set_x.clear()
print(set_x)

set()

# 3 . copy()

    The copy() method copies the set.

In [30]:
set_x2 = set_4.copy()
print(set_x2)

{'strawberry', 'apple', 'Muskmelon', 'kiwi', 'Blueberry'}

# 4. difference(set)

    he difference() method returns a set that contains the difference between two sets.

    Meaning: The returned set contains items that exist only in the first set, and not in both sets.

In [36]:
set_6 = {"apple", "Kiwi","avocado","Mango","Dragon fruits"}
print(set_6)
print(set_4)

{'apple', 'Kiwi', 'Mango', 'Dragon fruits', 'avocado'}
{'apple', 'Muskmelon', 'Blueberry', 'kiwi', 'strawberry'}

In [37]:
set_4.difference(set_6)

{'Blueberry', 'Muskmelon', 'kiwi', 'strawberry'}

In [77]:
set_7 = {1,2,3,4,5}
set_8 = {6 , 7 , 8 , 9 , 1,3,5}

set_7.difference(set_8) # will give the element which are not present  in set_8 eject the common element

{2, 4}

In [78]:
set_8.difference(set_7) # # will give the element not common in set_8

{6, 7, 8, 9}

# 5. differnece_update(set)

    The difference_update() method removes the items that exist in both sets.

In [87]:
set_9 = {11 ,12 , 13 , 14 , 15 , 16 , 17 }
set_10 = {12 , 14 , 16 , 18 , 20}

set_9.difference_update(set_10)
print(set_9)

{11, 13, 15, 17}

In [86]:
set_10.difference_update(set_9)
print(set_10)

{18, 20}

# 6. Discard()

    The discard() method removes the specified item from the set.

    This method is different from the remove() method, because the remove() method will raise an error if the specified item does not exist, and the discard() method will not.

In [89]:
set_11 = {"apple" , "cherry",'Mango'}

set_11.discard("apple")
print(set_11)

{'cherry', 'Mango'}

In [90]:
set_12 = {"layla","rekha","Simran","Renuka"}
set_12.pop()

'Renuka'

In [91]:
set_12.pop()

'rekha'

# 7 . intersection()

    The intersection() method returns a set that contains the similarity between two or more sets.

Meaning: The returned set contains only items that exist in both sets, or in all sets if the comparison is done with more than two sets.

In [92]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.intersection(y)

print(z)

{'apple'}

In [94]:
set_13 = {'Papaya','gauva','Melon',"apple"}

zz = set_13.intersection(x,y)
print(zz)

{'apple'}

# 8 . intersaction_update()


    The intersection_update() method removes the items that is not present in both sets (or in all sets if the comparison is done between more than two sets).

    The intersection_update() method is different from the intersection() method, because the intersection() method returns a new set, without the unwanted items, and the intersection_update() method removes the unwanted items from the original set.

In [97]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.intersection_update(y)

print(x) # it will remove the common element in origional set

{'apple'}

# 9 . isdisjoint()  

    if common element present in the set's then it will return false

In [99]:
set_14 = {100, 200, 300 , 400}

set_15 = { 1000, 2000  , 3000}

z = set_14.isdisjoint(set_15)
print(z)

True

# 10. issubset()

    if all the element of set present in other set

In [100]:
x1 = {99,199,299,399,499,599}

x2 = {88,188,288,388,499,599}

z1 = x2.issubset(x1)
print(z1)

False

In [101]:
x3 = {99,399,599}  # true bcz all the element of x3 present in x1

z2 = x3.issubset(x1)
print(z2)

True

# 10. superset()

    opposite of issubset

In [102]:
x1.issuperset(x3)

True

# 11 . union()

     returns all the unique element prsent in all the set

In [106]:
z3 = x1.union(x2,x3,set_11,set_12)
print(z3)

{288, 'cherry', 99, 388, 'Mango', 199, 'Simran', 299, 'layla', 399, 499, 599, 88, 188}

# 12. update()

it's like union method

In [113]:
set_16 ={"laptop" , "car","areoplane","watch"}

set_17 = {"submarine","fighterjet","land Rover","car"}

set_17.update(set_16,x1)

In [114]:
print(set_17)

{99, 599, 199, 299, 'land Rover', 'fighterjet', 'watch', 399, 499, 'areoplane', 'submarine', 'car', 'laptop'}