# String in_bulit Function

---
# 1. capitalize()

    method returns a string where the first character is upper case, and the rest is lower case.

In [14]:
name = "sahithi is python data science "
name2 = name.capitalize()
print(name2)

Sahithi is python data science

In [16]:
txt = "0python is FUN!"

x = txt.capitalize()

print (x)

0python is fun!

# 2.casefold()

    The casefold() method returns a string where all the characters are lower case.

    This method is similar to the lower() method, but the casefold() method is stronger, more aggressive, meaning that it will convert more characters into lower case, and will find more matches when comparing two strings and both are converted using the casefold() method.

In [25]:
str1 = '3030303030'
print(int(str1))

3030303030

In [30]:
string2 = "Hello , It a GReat DAy "

str1 =string2.casefold()
print(str1)

hello , it a great day

In [31]:
print(string2.lower())

hello , it a great day

In [34]:
my_College_name = "South east AsiAn EnginEEring "
print(my_College_name.casefold())

south east asian engineering

In [35]:
my_College_name.lower()

'south east asian engineering '

# 3. center()

    The center() method will center align the string, using a specified character (space is default) as the fill character.

    TypeError: The fill character must be exactly one character long

In [45]:
string3 ="Biryani with chiken"
print(string3.center(25,"!"))

!!!Biryani with chiken!!!

# 4 . count(value,start,end)

    The count() method returns the number of times a specified value appears in the string.

In [93]:
sweety = "Ocean Eleven Ocean"
#          0                 18

txt = sweety.count('Ocean',13,18)
print(txt)

1

In [51]:
len(sweety)

18

# 5 .format()

    
    TypeError: cannot unpack non-iterable int object

In [73]:
txt = "i am trying to get a job"
a = 100
b = c = 300
d=800
print(" the cost is : {} ,{} ,{},{} ".format(b,a,3000,"it's my BirthDay"))

 the cost is : 300 ,100 ,3000,it's my BirthDay

In [63]:
print("Hello, I am {} years old !".format(18))

Hello, I am 18 years old !

In [78]:
my_string = "{}, is a {} {} science portal for {}"
 
print(my_string.format("isoft", "main frame", "geeks","sahithi"))

isoft, is a main frame geeks science portal for sahithi

In [89]:
txt ="for only you {value:.4f} $"
print(txt.format(value=78000))

for only you 78000.0000 $


AttributeError: 'int' object has no attribute '8f'

In [106]:
txt ="for only you {:.2f} $"
print(txt.format(780))

for only you 780.00 $

    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Reverse a String

    slicing[begin: end : step]

    step = always be pos. integer or neg integer not zero

In [8]:
s= "Doing job will get me money"
s[::-1]

'yenom em teg lliw boj gnioD'

In [16]:
print(s[18:10:-1])
print(s[::1])

 teg lli
Doing job will get me money

In [24]:
r = reversed(s)
for ch in r :
    print(ch,end=" ")

y e n o m   e m   t e g   l l i w   b o j   g n i o D

In [26]:
s = "working is way to success"
r = reversed(s)
op = ''.join(r)
print(op)

sseccus ot yaw si gnikrow

In [32]:
s = input('enter ')
r = reversed(s)
op = ''.join(r)
print(op)

 gnikorw si misaw

In [20]:
def rev_str(s):pass

In [31]:
eval(input('enter '))

8889.99

______________________________________________________

In [41]:
s = str(input('Hello plz enter here ').split())
print(s)

['hii', 'how', 'r', 'u', 'doing']

In [47]:
s = str(input('Hello plz enter here '))
print("origional string is : {} ".format(s))

length = len(s)-1
print(length)
while 0<=length:
    print(s[length],end='')
    length -= 1

origional string is : hii
2
iih

In [53]:
s = input("enter a sentence")
output = ''
i = len(s)-1
print(i)
while i>= 0 :
    output = output+ s[i]
    i =i- 1 

print(output)

4
misaw

    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    reverse the order of the program

In [60]:
s = "learning  python is very easy "
s.split()

['learning', 'python', 'is', 'very', 'easy']

In [62]:
s.index('p')

10

In [70]:
s = input("enter here ").split()
op = s[::-1]
op = ' '.join(op)
print(op)

doing you are how sahithi hii

In [ ]:
s = input("enter here ").split()

     program to write reverse internal content of String

In [75]:
s = input("Enter a String here")
list_1 = s.split()

list_2 =[]

for i in list_1:
    list_2.append(i[::-1])

op = ' '.join(list_2)
print(op)

iih evah a taerg yad mam

In [91]:
s = "hi sir don't have a good day  have a great day"
l = s.split()
l2 = []
for i in range(len(l)):
    if i % 2 == 0 :
        l2.append(l[i])
    else:
        l2.append(l[i][::-1])

op = ' '.join(l2)
print(op)

hi ris don't evah a doog day evah a taerg day

In [96]:
s= "Working hard or working hardly".split()
i=0 
while i<len(s):
    print(s[i],end=" ")
    i += 2

Working or hardly