    
    int() -- to convert from other data type to int type

In [16]:
x = int(10)
y = int('12') # 12.99 not supported only with base then 
z = int(10.0)
z1 = int(False)
z2 = int(True)
print(x , y , z , z1,z2)

10 12 10 0 1

In [17]:
int('12.4')  # complusory it will contain int type with base 10

ValueError: invalid literal for int() with base 10: '12.4'

In [21]:
int('sara') # ValueError: invalid literal for int() with base 10: 'sara'
int(10+19j) # TypeError: can't convert complex to int

ValueError: invalid literal for int() with base 10: 'sara'

-----------------------

    float() ---> to convert from other data type to float type

In [23]:
float('12.77')
float('133')
float(True)
float('89.99')

89.99

In [25]:
float(10+12j) # TypeError: can't convert complex to float

TypeError: can't convert complex to float

---------------
    complex()  --> from other type to complex type

In [28]:
complex(10)
complex(True)
complex(False)

0j

------------------
    bool() ---> to convert other data type to bool type

In [37]:
bool(100) # true bcz , 0 means false , and non zero means True 
bool(0) # False
bool(int) # True
bool(float) # True
bool(000000) # false
bool('')  # False 
bool('Sahithi')  # True

True

     empty string ---false 
     non empty string --- True

In [44]:
name = input("enter your roll no ")
pass_or_not = bool(input('Are you Passed the exam T/F'))
print("name : ",name)
if pass_or_not == True:
    print("Yes ")
else:
    print("NO")

# there is problem with this method bool(input("True/False"))
#means bool('str') is not empty is always true

name :  122
Yes

    use eval() instead of bool() ,

In [45]:
name = input("enter your roll no ")
pass_or_not = eval(input('Are you Passed the exam T/F'))
print("name : ",name)
if pass_or_not == True:
    print("Yes ")
else:
    print("NO")

name :  sahithi
NO

In [47]:
x = int(input("Enter your number "))
x

ValueError: invalid literal for int() with base 10: '12.00'

     if we don't know the type we can use eval() function is will convert the value given by user to corresponding data type

In [48]:
x = eval(input("Enter your number "))
x

123.888

In [55]:
x = eval(input("Enter your number "))
x

NameError: name 'wasi' is not defined

    if we know the type of value what we are passing at runtime --Typecasting functio

    if we don't kmow the type of value ---eval()

    TypeError: eval() arg 1 must be a string, bytes or code object

In [56]:
eval(88+19.12)

TypeError: eval() arg 1 must be a string, bytes or code object

In [66]:
eval('1+2.9+56/2')

31.9

    # it should be string and other data type of value not string

In [78]:
x23 = eval('')

SyntaxError: unexpected EOF while parsing (<string>, line 0)

In [80]:
x = eval('233')
x

233

    bool() == the argument can be anything zero- False , non -zero true , empty string - false

    eval -- the argument must be string type and contains some other type value

    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

    int() --

    float() --

    complex() ---

    bool() ---

    str() --- from other type to str type

    from string to corresponding type , the go for eval() function

In [81]:
str('10')

'10'

In [82]:
str(10.5)

'10.5'

In [83]:
str(1+3j)

'(1+3j)'

In [84]:
print(type(eval(input('enter your number'))))

<class 'float'>

In [85]:
# int(10+89j) # error
int(False)  # 0

0

In [91]:
eval('10.77')
type(eval('True'))
type(eval(input(" ")))

float

    Once we create an Object we can not change it's content . if we are trying to change it's content with those changes a new Object will be created and the reference will pointing towards new Object
    and the

In [96]:
a = 199
print("id before ",id(a))
b =a 
a = a+ 100
print('id after ',id(a))
print(a)
print("id of b :",id(b))
print(b)

id before  9795328
id after  140594094673136
299
id of b : 9795328
199

In [101]:
s1 = "sahithi"
print('s1 id before :',id(s1))
s2 = s1
print('S2 id after :',id(s2))
s1= s1+" working"
print('s1 id after :',id(s1))
print(s1)
print(s2)
print('s2 id after :',id(s2))

s1 id before : 140594094771504
S2 id after : 140594094771504
s1 id after : 140594091791216
sahithi working
sahithi
s2 id after : 140594094771504

     list is mutable thats why the id()/address is not changing

In [103]:
list1 = [10,44,55,66]
print('list1 id before changing /updating :',id(list1))
list1[0] = 9982
print('list1 id after updating :',id(list1))

list1 id before changing /updating : 140594094657088
list1 id after updating : 140594094657088

     ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
     tuple is mutable thats why the id()/address will be  changed

     TypeError: 'tuple' object does not support item assignment

In [107]:
tuple1 = 10,44,55,66
print('list1 id before changing /updating :',id(list1))

#list1[0] = 9982TypeError: 'tuple' object does not support item assignment

tuple1 = 10,44,55,66,99

print('list1 id after updating :',id(tuple1))

list1 id before changing /updating : 140594091806528
list1 id after updating : 140594091805248

    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Type Casting :


    In typing casting, a data type is converted into another data type by the programmer using the casting operator during the program design. In typing casting, the destination data type may be smaller than the source data type when converting the data type to another data type, that’s why it is also called narrowing conversion.
    
    Explicit Type Conversion is also called Type Casting, the data types of objects are converted using predefined functions by the user.

    2. Type conversion : Implicit Type Conversion

    In type conversion, a data type is automatically converted into another data type by a compiler at the compiler time. In type conversion, the destination data type cannot be smaller than the source data type, that’s why it is also called widening conversion. One more important thing is that it can only be applied to compatible data types.
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    TYPE CASTING	TYPE CONVERSION
    --------------------------------------------------------------------------------------
    1.	In type casting, a data type is converted into another data type by a programmer using casting operator.

	Whereas in type conversion, a data type is converted into another data type by a compiler.

    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

    2.	Type casting can be applied to compatible data types as well as incompatible data types.	

    Whereas type conversion can only be applied to compatible datatypes.

    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

    3.	In type casting, casting operator is needed in order to cast the a data type to another data type.

	Whereas in type conversion, there is no need for a casting operator.

    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

    4.	In typing casting, the destination data type may be smaller than the source data type, when converting the data type to another data type.	

    Whereas in type conversion, the destination data type can’t be smaller than source data type.

    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

    5.	Type casting takes place during the program design by programmer.

	Whereas type conversion is done at the compile time.

    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

    6.	Type casting is also called narrowing conversion because in this, the destination data type may be smaller than the source data type.

	Whereas type conversion is also called widening conversion because in this, the destination data 
    type can not be smaller than the source data type.

   ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

    7.	Type casting is often used in coding and competitive programming works.

	Whereas type conversion is less used in coding and competitive programming as it might cause incorrect answer.
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

    8.	Type casting is more efficient and reliable.	

    Whereas type conversion is less efficient and less reliable.

In [108]:
# 1 . implicit type Conversion or type Conversion

num_int = 1000
num_float = 77.77

new_num = num_int + num_float

print("data type of num_int :",type(num_int))
print("data type of num_int :",type(num_float))

print(new_num)
print("data type of num_int :",type(new_num))

data type of num_int : <class 'int'>
data type of num_int : <class 'float'>
1077.77
data type of num_int : <class 'float'>

In [109]:
# 2 . TypeCasting vs explicit type Coversion done by programmer 

num_int = 123
num_str = '221'
new_num = num_int + num_str # TypeError: unsupported operand type(s) for +: 'int' and 'str'

print("data type of num_int :",type(num_int))
print("data type of num_int :",type(num_float))

print(new_num)
print("data type of num_int :",type(new_num))

TypeError: unsupported operand type(s) for +: 'int' and 'str'

    This type of conversion is also called typecasting because the user casts (changes) the data type of the objects.

In [110]:
# 2 . TypeCasting vs explicit type Coversion done by programmer 

num_int = 123
num_str = '221'
new_num = num_int + int(num_str) # TypeError: unsupported operand type(s) for +: 'int' and 'str'

print("data type of num_int :",type(num_int))
print("data type of num_int :",type(num_float))

print(new_num)
print("data type of num_int :",type(new_num))

data type of num_int : <class 'int'>
data type of num_int : <class 'float'>
344
data type of num_int : <class 'int'>